html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face 
{
font-family: "Segoe UI";
font-style: normal;
font-weight: normal;
src: url("police/segoeui.tff") format("tff");
}

@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
 src: url('police/Myriad Pro Regular.ttf') format('ttf');
	}

.bloc_header
{
background: url("images/ble.png")  no-repeat top center; 
background-size: 100%;
height: 600px; 
width: 100%
}

.conteneur
{
background-color: rgba(67, 78, 85, 0.9);
display: flex;
justify-content: space-between;
padding: 50px 300px;
}

.logo
{
 height: 20px;
 width:105px;
}

.navigation 
{
text-align: right;
}

.navigation li 
{
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
display: inline;
 font-size: 0.7em;
font-weight:bold;
}

.navigation li a
{
color: white;
text-decoration: none;
margin-right: 41px;
}

.navigation li a:hover
{
color: rgb(75, 202, 255);
border: 2px solid  rgb(75,202,255); 
text-decoration: none;
padding: 5px 15px;
margin-right: 41x;
}

.hero 
{
 font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
text-align: center;  	   
}

.citation
{
margin-top: 170px;
}

.fond 
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
}

.bg-grey
{
margin: 5px auto;
padding: 2px ;
font-family: 'Segoe UI' Tahoma, Verdana, sans-serif;
font-size: 2.3em;
font-weight: lighter;
color: white;
 display: flex;
 justify-content: center;
display: inline-block;
background-color: rgba(81, 95, 103, 0.9);
padding: 10px 10px;
}

#service
{
	height: 350px; 
	background-color:rgb(72, 202, 255);
   font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
}

.flex1 
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h2 
{
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
font-size: 1.5em;
font-weight: lighter;

padding-top : 50px; 
}

.element
{
   
text-align:justify;

}

.icone
{
margin-left: 5px;
padding: 20px 0;
}
.ss_titre
{
font-size: 20px;
font-weight: semi-bold; 
margin-left: 5px;
}
.description
{
padding: 10px 10px;
font-size: 10px;
margin-right: 10px;
width: 150px; 
}
#pictures
{
height: 700px; 
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;  
color: rgb(81,95,103);
}





.en_tete_portfolio
{
display: flex;
justify-content: space-between;

margin-left: 15px;
margin-bottom: 40px;
}

.navig_portfolio
{
display: flex;
flex-wrap: nowrap;

}
.navigation2
{
text-align: right;
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
font-size: 0.7em;
font-weight: bold; 
margin-top: 60px;
margin-left: 30px;


}

.navigation2 li
{
display: inline;

}

.navigation2 li a
{
text-decoration: none;
color: rgb(81,95,103);
margin-right: 30px;

}

.navigation2 li a:hover
{
color: rgb(75, 202, 255);
border: 2px solid  rgb(75,202,255); 
margin-right: 30px;
}

.photo_min
{
height: 210px;
width: 23%;
margin-top : 20px;
margin-left: 15px;
}

.photo_min:hover
{
	-webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}




#default
{
height: 350px;
background-color: rgb(81,95,103);
font-family:'Segoe UI', Tahoma, Verdana, sans-serif; 
}
.video
{
float: right;	
width: 440px;
height: 230px;
margin-top: 60px;

}
.flex3
{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: flex-start;

}

.element_default
{
width: 500px;
}

.contenu 
{
width: 60%;
margin:auto;
}

.default_text
{
width: 42%;
}

.default_paragraphe
{
font-size: 12px;
margin-top: 30px;
}

.link1
{
margin-top: 30px;	
font-size: 12px;
color: rgb(53,63,70);
border: 2px solid  rgb(53,63,70);
font-weight: bold;
margin-right:30%;
width: 75px;
text-align: center;
padding: 10px 15px;
}

#tweeter
{
background-color:rgb(75,202,255); 
height: 200px;
}

.img_twitter
{
float: right;
margin-top: 50px;
}

.tweeter_text
{
	margin-top: 30px;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
	font-size: 22px;
	font-weight: lighter;

}

#j_doe
{
	background: url("images/photo_doe.png") no-repeat top center; 
	background-size: 100%;
	height: 350px;
	color: rgb(224, 224, 224)
}

.flex4
{
 display: flex;
 justify-content: space-between;
 margin-top: 30px;
 font-family:'Segoe UI', Tahoma, Verdana, sans-serif; 
 font-size: 12px;

}
.element_doe
{
width: 47%;
}
.doe_paragraphe
{
 margin-top: 10px;
 line-height: 1.6 ;
}

.reseaux_sociaux
{
display: flex;
flex-direction: row;
margin-top: 20px;
}

.reseau
{
width: 80%;
}
#testimonial
{
height: 250px;
color: rgb(81,95,103);
}

#testimonial
{
height: 250px;
 font-family:'Segoe UI', Tahoma, Verdana, sans-serif; 
} 


.mark
{
float: right;
margin-top: 67px;
}

.testimonial_ex
{
font-size: 24px;
font-weight: lighter; 
margin-top: 38px;
line-height: 1.6 ;
}
.w_w
{
font-size: 12px;
font-weight: bolder;
color: rgb(75, 202, 255);
margin-top: 10px;
}
#contact
{
background: url("images/focus.png");
height:800px;


}



fieldset 
{	
		margin-bottom:30px;
		margin-top: 30px;
}
		
	
label {
	margin-top:30px;
	display:block;
	font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px; 
	}

	input[type=text], input[type=email]
	{
	border: 2px solid white;	
	background-color: rgba(240,240,240, 0);	
	width: 33%;
	height: 50px;
	}
	
	#comments
	{
	width: 100%;	
	height: 200px;
	border: 2px solid white;	
	background-color: rgba(240,240,240, 0);
	}

	input[type=submit]
	 {
		width:30%;
		height: 75px;
		box-shadow:1px 1px 1px rgb(75,202,255);
		border: solid  rgb(75,202,255);
		background-color:  rgb(75,202,255);
		font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
		font-weight: bold;
		color: white;


	 }
	 
		